pytz
mimetype
typing
python-secrets
natsort
gTTS
waybackpy
heroku3
pycrypto
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
motor
natsort
pillow
psutil
pycryptodome
pymongo
pyrofork==2.2.11
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
urllib3
uvloop
xattr
yt-dlp
html_telegraph_poster
aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/MAHESH-KADALI/lk21.git
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pillow
psutil
pybase64
pycountry
pymongo
pyrofork
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgcrypto
uvloop
xattr
yt-dlp
