name: Docker Image CI

on:
  workflow_dispatch:

jobs:
 
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . -t maheshkadali/anime-leech
    - name: login
      run: docker login -u maheshkadali -p SNEHITHA@2008 && docker push maheshkadali/anime-leech
